@media screen and (min-width: 813px) {
  .admin-user_show {
    .list-items--column {
      margin-bottom: 30px;
    }
    .list-items--row__item.quantity {
      flex: 0.3 !important;
    }
    .list-items--row__item.sending-address {
      flex: 2 !important;
    }
    .list-items--row__item.button {
      flex: 0.5 !important;
    }
    .list-items--row__item {
      flex: 1;
    }
    .list-items--row__item.data {
      flex:calc(((100vw - 200px) / 5 ) * 3);
    }
    .danger {
      background-color: #ff4747;
      color: white;
      a, button {
        color: white;
        cursor: pointer;
      }
      a:hover, button:hover {
        color: black;
        cursor: pointer;
      }
    }
    .caution {
      background-color: #ffdd47;
      a, button {
        color: #222222;
        cursor: pointer;
      }
      a:hover, button:hover {
        color: #ffffff;
        cursor: pointer;
      }
    }
  }
}