@media screen and (min-width:813px) {
	.alert {
		position: absolute;
		margin: 10px 0px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 99;
		opacity: 1;
		display: flex;
		flex-direction: row;
		align-items: center;
		box-sizing: border-box;
		border-radius: 5px;
		width: 75%;
		min-height: 40px;
		animation: flash-fadeout 1s linear 3s 1;
		animation-fill-mode: forwards;
		color:white;
	}
	
	.alert-info {
		background-color: rgba(#45a0e6, 1);
	}
	
	.alert-success {
		background-color: rgba(#008001, 1);
	}
	.alert-danger {
		background-color: rgba(#ff7777, 1);
	}
	.alert-warning {
		background-color: rgba(#ff9100, 1);
	}
	@keyframes flash-fadeout {
		0%   { opacity: 1; min-height: 40px;}
		99%  { opacity: 0; min-height: 40px;}
		100% { opacity: 0; min-height: 0px;}
	}
	.alert__icon {
		width: 50px;
		text-align: center;
		font-size: 1.6rem;
	}
	.alert__message {
		flex: 1;
		padding: 5px;
		font-size: 1.5rem;
	}
}