<% provide(:title, "ダッシュボード") %>

<div class="side">

</div>
<div class="main dashboard">
   <% @dashboard_order.each do | d_order | %>
      <%= render partial: "unship_stock", locals: {order_product: d_order} %>
   <% end %> 
</div>
