<h1>出荷情報管理</h1>
<ul id="shipments-select">
    <li><div class="select-contents"><%= link_to events_path do %>出荷予定作成<% end %></div></li>
    <li><div class="select-contents">出荷完了報告</div></li>
    <li><div class="select-contents">出荷情報履歴</div></li>
</ul>
