<div class="side">

</div>
<div class="main stocks-index">
    <% if @stocks.blank? %>
    <p style="font-size:large;">現在出荷予定は登録されていません。</p>
    <% else %>
    <%= render @stocks %>
    <% end %>
</div>
