<div class="side">

</div>
<div class="main stocks-show">
    <% @orders.each do |order| %>
    <div>
        <%= render partial: "static_pages/dashboard_stock", locals: {order: order}%>
    </div>
    <% end %>
</div>
