<li>
    <%= link_to "#{user.corporate_name} #{user.lastname}#{user.firstname}", user %>
    <% if current_user.admin? && !current_user?(user) %>
        | <%= link_to "削除", user, method: :delete,data: { confirm: "本当に削除してもよろしいですか？" } %>
    <% end %>
</li>
