<label for="ec_data_order_product_stock_id" class="form__select-items__item--label sp-form__select-items__item--label">登録週</label>
<%= collection_select :ec_data_order_product, :stock_id, @farmer_stocks, :id, :salable, {}, {:class => "form__select-items__item--select sp-form__select-items__item--select"} %>
