<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td class="responsive" valign="top"><font size="4" color="#333333" style="font-size: 20px;line-height: 160%;color: #333333;font-weight: bold;"><b><%= @send_user.corporate_name %>より<br>メッセージが届いています</b></font></td>
		</tr>
	</tbody>
</table>