<head>
  <meta http-equiv="Content-Language" content="ja" />
  <meta http-equiv="Content-Type" content="text/html;charset=iso-2022-jp" />
  <meta name="viewport" content="initial-scale=1.0,width=device-width" />
  <title>AFTECH SHOP</title>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
  <style type="text/css">
    #outlook a {
      padding: 0;
    }

    body{
      width: 100% !important;
      min-width: 100%;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      margin: 0;
      padding: 0;
    }

    body.outlook p {
      display: inline !important;
    }

    body .px1 {
      table-layout: fixed !important;
      width: 1px !important;
    }

    body .px3x3 {
      table-layout: fixed !important;
      width: 3px !important;
      height: 3px !important;
    }

    body center {
      min-width: 0 !important;
    }

    body .block {
      display: block !important;
    }

    body .w100 {
      width: 100% !important;
    }

    p {
        font-size:15px;
    }

    h1 {
        font-size:200%;
        font-family: 'Dancing Script', cursive;
    }

    h2 {
        font-size:150%;
        font-family: 'Dancing Script', cursive;
    }

    /*  Media Queries */
    @media only screen and (max-width: 680px) {
      body .res-block {
        display: block !important;
      }
      body .disp-none {
        display: none !important;
        height: 0 !important;
      }
      body .res-w100 {
        width: 100% !important;
      }
      body[class="res"] .res-hauto {
        height: auto !important;
      }
    }
  </style>
</head>
