<div class="side">
	<%= render 'layouts/dashboard_sidebar' %>
</div>
<div class="main room_index">
	<h1>メッセージボード一覧</h1>
	<ul class="list-items--column sp-list-items--column">
		<ul class="list-items--row">
			<li class="list-items--row__item">購入者</li>
			<li class="list-items--row__item">最終投稿者</li>
			<li class="list-items--row__item">最終投稿時間</li>
			<li class="list-items--row__item">未読数</li>
			<li class="list-items--row__item"></li>
		</ul>
		<%= render @rooms %>
	</ul>
</div>