@font-face {
  font-family: 'G_Pencilkaisho_Free';
  src: font-url('g_pencilkaisho_free.ttf');
}

@font-face {
  font-family: 'AC_kaisyo';
  src: font-url('ackaisyo.ttf');
}

@font-face {
  font-family: 'Shunkashuutou';
  src: font-url('shunkashuutou.ttf');
}