<footer class="footer">
    <ul>
        <li><%= link_to "/help" do %><span class="glyphicon glyphicon-question-sign"></span><span>ヘルプ</span><% end %></li>
        <li><%= link_to "/privacy" do %><span class="glyphicon glyphicon-lock"></span><span>プライバシーポリシー</span><% end %></li>
        <li><%= link_to "#" do %><span class="glyphicon glyphicon-envelope"></span><span>お問い合わせ</span><% end %></li>
        <li><%= link_to "/company" do %><span class="glyphicon glyphicon-info-sign"></span><span>運営会社</span><% end %></li>
        <li class="copyright"><span>Copyright</span><span class="glyphicon glyphicon-copyright-mark"></span><span>2018 AFTech Inc, All Right Reserved.</span></li>
    </ul>
</footer>
